WORKSPACE_PATH=$(git rev-parse --show-toplevel)
mkdir -p $WORKSPACE_PATH/.devenv/state

# Environment inputs
printf '{"PWD":"%s"}' "$PWD" \
       > .devenv/state/env

use flake .#workspace --override-input env path:$(realpath $WORKSPACE_PATH/.devenv/state/env) --quiet --quiet --no-warn-dirty
