.devenv
.direnv
.env
result*
tmp
build
dist
node_modules
.rumdl_cache

*.ll
*.o
*.wasm

# Rust
target/
deployment.zip

.pre-commit-config.yaml

presentations/*.pdf
presentations/*.html

flamegraph.svg

# Configs
/biome.json
/deno.json
/rumdl.toml
/typos.toml

*.qcow2
*.img
*.raw