.devenv
.direnv
.env
result*
tmp
build
dist
node_modules
.rumdl_cache

*.ll
*.o
*.wasm

# Rust
target/
deployment.zip

.pre-commit-config.yaml


flamegraph.svg

# Configs
/.rules
/.zed
/biome.jsonc
/deno.jsonc
/rumdl.toml
/typos.toml
/lychee.toml
/.commitlintrc.yml
/.secretsignore

*.qcow2
*.img
*.raw

kgen.trace.json.*
